.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock

# Ignore config files
.prettierrc
playwright.config.ts
svelte.config.js
tsconfig.json
vite.config.ts
postcss.config.js
tailwind.config.ts

# Ignore shadcn components
/src/lib/components
/src/lib/utils